{% extends 'baseadmin.html.twig' %}

{% block body %}
    <script>
        function deleteForumOpinion(id){
            var deleteID      =   id;
            var path            =   "{{ path('forum_opinion_delete', {'id': 'id_to_delete'}) }}";
            path                =   path.replace('id_to_delete',deleteID);
            $("#deleteFormOpinion").attr('action',path);
        }

    </script>
    {% include '@Opinion/Opinion/delete.html.twig' %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Table des Reclamations</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>

                                    <th>Contenu</th>
                                    <th>Note</th>
                                    <th>Iduser</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for opinion in opinions %}
                                    <tr>

                                        <td>{{ opinion.contenu }}</td>
                                        <td>{{ opinion.note }}</td>
                                        <td>{{ opinion.idUser }}</td>
                                        <td>
                                            <ul>

                                                <a><span class="flaticon2-delete" data-toggle="modal" data-target="#kt_blockui_opinion_modal" onclick="deleteForumOpinion({{ opinion.idOp }})"></span></a>
                                        </th>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}


                            </table>

                            <div>
                                {{ knp_pagination_render(opinions) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
    {#<h1>Opinions list</h1>

    <table>
        <thead>
            <tr>
                <th>Idop</th>
                <th>Contenu</th>
                <th>Note</th>
                <th>Iduser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td><a href="{{ path('opinion_show', { 'idOp': opinion.idOp }) }}">{{ opinion.idOp }}</a></td>
                <td>{{ opinion.contenu }}</td>
                <td>{{ opinion.note }}</td>
                <td>{{ opinion.idUser }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('opinion_show', { 'idOp': opinion.idOp }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('opinion_edit', { 'idOp': opinion.idOp }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opinion_new') }}">Create a new opinion</a>
        </li>
    </ul>#}
{% endblock %}
