


    <div class="post-comments">
        <h3 class="post-sub-heading">{{ commentaireForums|length }} COMMENTS&nbsp;&nbsp;&nbsp;&nbsp;<a class="comment-button"><i class="tf-ion-chatbubbles"></i>Reply</a></h3>
        <ul class="media-list comments-list m-bot-50 clearlist">
            {% for commentaireForum in commentaireForums %}
            <!-- Comment Item start-->
            <li class="media">

                <a class="pull-left" href="#">
                    <img class="media-object comment-avatar" src="{{ asset('T/images/facebookprofilepic.jpg') }}" alt="" width="50" height="50">
                </a>

                <div class="media-body">
                    <div class="comment-info">
                        <h4 class="comment-author">
                            <a href="#">{{commentaireForum.user.username}}</a>
                            {% if app.user.id==commentaireForum.user.id   %}
                                <a href="{{ path("commentaireforum_delete", {'id': commentaireForum.id}) }}"><span class="flaticon-close"></span></a>
                            {% endif %}
                        </h4>
                        <time>{{commentaireForum.date|date('Y-m-d h:m')}}</time>
                    </div>

                    <p>
                       {{commentaireForum.texte}}
                    </p>

                </div>

            </li>
            {% endfor %}
            <!-- End Comment Item -->






        </ul>
    </div>
